<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Services</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 p-4">
                <div class="d-flex align-items-center flex-column flex-md-row">
                    <img src="https://picsum.photos/100/100" alt="photo" class="rounded-circle">
                    <div class="ml-md-2 text-center text-md-left">
                        <p class="h5">
                            Coders.Tokyo
                        </p>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </p>
                        <a href="#">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 p-4">
                <div class="d-flex align-items-center flex-column flex-md-row">
                    <img src="https://picsum.photos/100/100" alt="photo" class="rounded-circle">
                    <div class="ml-md-2 text-center text-md-left">
                        <p class="h5">
                            Coders.Tokyo
                        </p>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </p>
                        <a href="#">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 p-4">
                <div class="d-flex align-items-center flex-column flex-md-row">
                    <img src="https://picsum.photos/100/100" alt="photo" class="rounded-circle">
                    <div class="ml-md-2 text-center text-md-left">
                        <p class="h5">
                            Coders.Tokyo
                        </p>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </p>
                        <a href="#">View more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="../js/jquery-3.2.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>